@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/extends';

.page {
  &:last-child {
    @extend %homeIndentsSet;
  }
}

.title {
  margin-bottom: $small-indent;

  @extend %font32;
  font-weight: 800;
}

.models_quantity_info {
  margin-bottom: $secondary-indent;
  
  @extend %font14;
  color: $color-secondary;
}