@import '@/styles/variables.scss';
@import '@styles/breakpoints';

:global(.swiper-wrapper) {
  width: 100%;
}

:global(.swiper) {
  width: 100%;
}

.slider_wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;

  @include bp-custom-up(639px) {
    display: grid;

    grid-template-columns: 0.12fr 0.88fr;
  }

  @include bp-large-up {
    gap: 28px;
    grid-template-columns: 0.16fr 0.84fr;
  }
}

.slider {
  display: grid;
  grid-template-columns: 1fr;
}
