@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.product {
  &_title {
    margin-bottom: $secondary-indent;

    @extend %font22;
    font-weight: 800;

    @include bp-custom-up($bp-640) {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }

  &_details {
    @extend %flexBetween;
    flex-direction: column;

    @include bp-custom-up(600px) {
      flex-direction: row;
      gap: 4rem;
    }

    @extend %homeIndentsSet;

    &_slider {
      flex: 1.1;
      margin-bottom: 2.5rem;

      @include bp-custom-up(600px) {
        margin-bottom: 0px;
      }
    }

    &_sidebar {
      flex: 1;
    }
  }

  &_description {
    @extend %flexBetween;

    flex-direction: column;

    @include bp-custom-up($bp-640) {
      flex-direction: row;
      gap: 4rem;
    }

    &_about {
      flex: 1.1;
    }

    &_tech {
      flex: 1;
      margin-bottom: 3.5rem;
    }
  }
}