@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.product {
  &_price {
    display: flex;
    align-items: center;
    margin-bottom: $main-indent;

    font-weight: 800;

    &_actual {
      margin-right: $small-indent;

      @extend %font32;
      color: $color-white;
    }

    &_default {
      @extend %font22;
      font-weight: 600;
      color: $color-secondary;
      text-decoration: line-through;
    }
  }
  
  &_buttons {
    display: flex;
    gap: $small-indent;
    margin-bottom: $secondary-indent;

    @include bp-custom-up(600px) {
      max-width: 20rem;
    }
  }

  &_spec {
    @extend %flexBetween;

    @extend %font14;
    font-weight: 600;
    
    @include bp-custom-up(600px) {
      max-width: 20rem;
    }
  
    &_name {
      color: $color-secondary;
    }
  
    &_value {
      padding-left: $medium-indent;
      text-align: right;
    }
  }
}