@import '../breakpoints';
@import '../variables';

.container {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 $container-padding;
  max-width: 1135px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  @include bp-custom-up(640px) {
    width: 100%;
    padding: 0 1.5 * $container-padding;
  }

  @include bp-large-up {
    width: 100%;
    padding: 0 2 * $container-padding;
  }
}
