@import '@styles/breakpoints';
@import '@styles/variables';

.container {
  margin: 0 auto;
  padding: 0 $container-padding;
  max-width: 1180px;
  width: 100%;
  min-height: 100%;

  @include bp-custom-up($bp-640) {
    padding: 0 1.5 * $container-padding;
  }
}
