@import '@styles/breakpoints';

.slider_item {
  padding-bottom: 100%;
  height: 0;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include bp-custom-up(639px)  {
    padding-bottom: 40%;
  }
}