@import '@styles/variables';

.dropdown_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  padding: $small-indent 0;

  border: 1px solid $color-elements;
  background-color: $color-dark;
  transform: translateY(100%);

  z-index: 2;
}

.dropdown_content_hidden {
  display: none;
}