@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

$card-width-tablet-mobile: 18rem;
$column-gap: $medium-indent;

.product_list {
  display: grid;
  margin: 0 auto $main-indent;
  max-width: $card-width-tablet-mobile;
  grid-template-columns: 1fr;
  column-gap: $column-gap;
  row-gap: 2.5rem;

  @include bp-custom-up(550px) {
    max-width: calc($card-width-tablet-mobile * 2 + $column-gap);
    grid-template-columns: 1fr 1fr;
  }

  @include bp-medium-up {
    max-width: calc($card-width-tablet-mobile * 3 + $column-gap * 2);
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp-x-large-up {
    max-width: calc($card-width-tablet-mobile * 4 + $column-gap * 3);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &_item {
    @extend %flexCenter;
  }
}
