@import '@styles/variables';

.dropdown_item {
  width: 100%;
  padding: 6px 12px;

  font-family: inherit;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  color: $color-secondary;

  background-color: inherit;

  transition: background-color 0.3s linear, color 0.3s linear;

  &:hover {
    background-color: $color-surface-2;
    color: $color-white;
  }
}