@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.page {
  @extend %flexColumn;
}

.cards {
  @extend %flexCenter;
  flex-wrap: wrap;
  margin-bottom: $secondary-indent;
  gap: $main-indent;

  @include bp-custom-up ($bp-640) {
    gap: $secondary-indent;
  }
}

.title {
  margin-bottom: $main-indent;

  @extend %font32;
  font-weight: 700;

  @include bp-custom-up ($bp-640) {
    font-size: 3rem;
  }
}