@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.about {
  &_header {
    @extend %categorySubtitle;
  }

  &_title {
    margin-bottom: $medium-indent;
    font-weight: 700;

    @include bp-custom-up($bp-640) {
      font-size: 1.25rem;
    }
  }

  &_content {
    @extend %font14;
    color: $color-secondary;
  }

  &_text {
    display: inline-block;
    margin-bottom: $secondary-indent;
  }
}