.slider_nav_next_button_icon {
  width: 10px;
  height: 10px;

  background-image: url('@/assets/icons/forward-arrow.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}