@import '@/styles/variables';

.slider_nav_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  
  background-color: $color-surface-2;

  transition: background-color 0.3s linear;

  &:hover {
    background-color: $color-icons;
  }
}