@import '@styles/breakpoints';
@import '@/styles/variables.scss';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-dark;
  color: $color-white;

  &_content {
    display: flex;
    flex-grow: 1;
  }
}
