@import '@styles/breakpoints';
@import '@styles/variables';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-dark;
  color: $color-white;

  &_content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: $main-indent 0  $footer-first-indent * 2;

    @include bp-medium-up {
      padding-bottom: $footer-first-indent * 3;
    }
  }
}
