@import '@styles/variables';
@import '@styles/breakpoints';

.options_wrapper {
  display: grid;
  margin-bottom: $main-indent;
  gap: $medium-indent;
  grid-template-columns: repeat(2, 1fr);

  @include bp-custom-up(639px) {
    grid-template-columns: 60% 40%;
    width: 20rem;
  }
}
