@import '@styles/variables';
@import '@styles/extends';
@import '@styles/breakpoints';

.item {
  @extend %flexBetween;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  @extend %cardHover;

  &_title {
    @extend %font14;
    color: $color-white;

    @include bp-small-up {
      font-size: 1rem;
    }
  }

  &_price {
    font-weight: 800;
  }

  &_box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}
