@import '@styles/variables';
@import '@styles/extends';
@import '@styles/breakpoints';

.item {
  @extend %flexBetween;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  @extend %cardHover;

  &_title {
    margin-right: 1rem;

    @extend %font14;
    color: $color-white;

    @include bp-small-up {
      font-size: 1rem;
    }
  }

  &_price {
    font-weight: 800;
  }
}