@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

@keyframes shimmer {
  0% {
    background-color: #f1f2f9;
  }

  100% {
    background-color: #ffffff;
  }
}

.image_shimmer,
.title_shimmer,
.price_shimmer,
.property_title_shimmer,
.property_value_shimmer,
.add_button_shimmer,
.like_button_shimmer {
  animation: shimmer 2s infinite alternate;
}

.image_shimmer {
  width: 50%;
  height: 130px;
  margin: 0 auto 24px;

  @include bp-custom-up(640px) {
    width: 65%;
    height: 196px;
  }

  @include bp-medium-up {
    height: 175px;
  }
}

.title_shimmer {
  height: 14px;
  margin-bottom: 8px;
  width: 100%;
}

.price_shimmer,
.property_title_shimmer {
  width: 35%;
}

.property_value_shimmer,
.like_button_shimmer {
  width: 20%;
}

.price_shimmer {
  height: 22px;
}

.property_title_shimmer,
.property_value_shimmer {
  height: 12px;
}

.add_button_shimmer,
.like_button_shimmer {
  height: 40px;
}

.add_button_shimmer {
  width: 80%;
}

.product_card {
  display: flex;
  flex-direction: column;
  width: 225px;
  white-space: pre-line;

  padding: 32px;

  background-color: $color-surface-1;
  border: 1px solid $color-dark;

  @extend %transitionDetails;

  &:hover {
    box-shadow: inset 3px 1px 138px 0px rgba(255,255,255,0.15);
  }

  @include bp-medium-up {
    width: 230px;
  }

  @include bp-custom-up(920px) {
    width: 272px;
  }

  &_figure {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  &_image {
    height: 130px;

    @include bp-custom-up(640px) {
      height: 196px;
    }

    @include bp-medium-up {
      height: 175px;
    }
  }

  &_title {
    color: $color-white;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_price {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    font-weight: 700;

    &_actual {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 140%;
      color: $color-white;
      margin-right: 8px;
    }

    &_default {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 28px;
      color: $color-secondary;
      text-decoration: line-through;
    }
  }

  &_separator {
    height: 1px;
    background-color: $color-elements;
    margin-bottom: $secondary-indent;
  }

  &_properties:last-child {
    margin-bottom: $secondary-indent;
  }

  &_property {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 8px;

    font-size: 0.75rem;
    font-weight: 600;
    line-height: 15px;

    &:last-child {
      margin-bottom: $secondary-indent;
    }

    &_title {
      color: $color-secondary;
    }

    &_value {
      color: $color-white;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}
