@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.indicator {
  position: absolute;
  top: 15%;
  right: 15%;

  @extend %flexCenter;
  min-width: 1.1rem;
  width: max-content;
  height: 1.1rem;

  @extend %font12;
  font-weight: 700;
  color: $color-white;

  background-color: $color-red;
  border: 2px solid $color-dark;
  border-radius: 50%;

  @include bp-large-up {
    top: 22%;
    right: 22%;
  }
}

.burger_indicator {
  top: 30%;
  right: 39%;

  @include bp-custom-up(340px) {
    right: 41%;
  }

  @include bp-custom-up(450px) {
    right: 43%;
  }

  @include bp-custom-up(590px) {
    right: 44%;
  }
}

.item {
  @extend %flexCenter;
  cursor: pointer;
}

.link {
  position: relative;
  @extend %flexCenter;
  @include square(2 * $main-indent);
  border-left: 1px solid $color-elements;

  &_active {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      display: block;
      height: 2px;
      width: 100%;

      color: $color-white;

      background-color: $color-white;
    }
  }

  &:hover {
    background-color: $color-icons;

    & .indicator {
      border-color: $color-icons;
    }
  }

  @include bp-large-up {
    @include square(2 * $secondary-indent);
  }
}

.burger_link {
  flex-grow: 1;
  padding-top: $secondary-indent;
  padding-bottom: $secondary-indent;
  border-top: 1px solid $color-elements;

  &_active {
    &::after {
      width: 100%;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid $color-elements;
  }
}

.burger_icon {
  flex-grow: 1;
  display: block;
  @include square($medium-indent);
}
