@import '@styles/variables';
@import '@styles/breakpoints';

.indicator {
  position: absolute;
  top: 15%;
  right: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  min-width: 18px;
  width: max-content;

  font-weight: 700;
  border-radius: 50%;
  font-size: 12px;

  color: $color-white;
  background-color: $color-red;
  border: 2px solid $color-dark;

  @include bp-large-up {
    top: 22%;
    right: 22%;
  }
}

.burger_indicator {
  top: 30%;
  right: 39%;

  @include bp-custom-up(340px) {
    right: 41%;
  }

  @include bp-custom-up(450px) {
    right: 43%;
  }

  @include bp-custom-up(590px) {
    right: 44%;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-left: 1px solid $color-elements;

  &_active {
    &::after {
      color: $color-white;
      position: absolute;
      bottom: -1px;
      content: '';
      display: block;
      height: 2px;
      width: 48px;
      background-color: $color-white;

      @include bp-large-up {
        width: 64px;
        bottom: -1px;
      }
    }
  }

  &:hover {
    background-color: $color-icons;

    & .indicator {
      border-color: $color-icons;
    }
  }

  @include bp-large-up {
    width: 64px;
    height: 64px;
  }
}

.burger_link {
  padding-top: 32px;
  padding-bottom: 32px;
  flex-grow: 1;
  border-top: 1px solid $color-elements;

  &_active {
    &::after {
      width: 100%;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid $color-elements;
  }
}

.burger_icon {
  display: block;
  width: 16px;
  height: 16px;
  flex-grow: 1;
}
