@import '@/styles/mixins';
@import '@/styles/breakpoints';

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%transitionDetails {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

%iconsBaseSet {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include square(16px);
}

%homeIndentsSet {
  margin-bottom: 1.75 * $secondary-indent;

  @include bp-medium-up {
    margin-bottom: 2 * $secondary-indent;
  }

  @include bp-medium-up {
    margin-bottom: 2.5 * $secondary-indent;
  }
}

