@import '@/styles/mixins';

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%transitionDetails {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

%iconsBaseSet {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include square(16px);
}

