@import '@styles/mixins';
@import '@styles/breakpoints';
@import '@styles/variables';

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetween {
  display: flex;
  justify-content: space-between;
}

%transitionDetails {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

%iconsBaseSet {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include square(16px);
}

%homeIndentsSet {
  margin-bottom: 1.75 * $secondary-indent;

  @include bp-medium-up {
    margin-bottom: 2 * $secondary-indent;
  }

  @include bp-medium-up {
    margin-bottom: 2.5 * $secondary-indent;
  }
}

%onLoadAnimation {
  @keyframes bubbling {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
}

%categorySubtitle {
  margin-bottom: $secondary-indent;
  padding-bottom: calc($secondary-indent / 2);
  font-size: 1.25rem;
  font-weight: 800;
  border-bottom: 1px solid $color-secondary;
}
