@import '@styles/variables';
@import '@styles/extends';
@import '@styles/mixins';

.colors {
  &_header {
    margin-bottom: $small-indent;
    @extend %flexBetween;

    @extend %font12;
    font-weight: 700;
    color: $color-secondary;
  }

  &_options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $secondary-indent;
    padding-bottom: $main-indent;
    gap: $small-indent;
    
    border-bottom: 1px solid $color-secondary;

    @include bp-custom-up(600px) {
      max-width: 20rem;
    }
  }

  &_circle {
    @extend %flexCenter;
    @include square($secondary-indent);

    border: 3px solid $color-elements;
    border-radius: 50%;

    @each $color, $product-color in $product-colors {
      &__#{$color} {
        background-color: $product-color;
      }
    }

    transition-property: all;
    @extend %transitionDetails;

    &:hover {
      border-color: $color-secondary;
    }

    &__active {
      border-color: $color-white;
      pointer-events: none;
    }
  }
}