@import '@/styles/breakpoints';
@import '@/styles/variables';

.logo {
  &_header {
    height: 21px;
    width: 64px;

    @include bp-large-up {
      height: 37px;
      width: 80px;
    }
  }

  &_footer {
    height: 31px;
    width: 89px;
  }
}
