@import '@styles/breakpoints';
@import '@styles/variables';

.logo {
  &_header {
    width: 4rem;
    height: auto;
    
    @include bp-large-up {
      width: 5rem;
      height: auto;
    }
  }

  &_footer {
    height: 2rem;
    width: auto;
  }
}
