@import '@styles/breakpoints';
@import '@styles/variables';

.logo {
  &_header {
    width: 2 * $secondary-indent;
    height: 1.3rem;
    
    @include bp-large-up {
      width: 5rem;
      height: 2.3rem;
    }
  }

  &_footer {
    width: 5.5rem;
    height: 2rem;
  }
}
