@import '@/styles/variables.scss';
@import '@styles/breakpoints';
@import '@styles/extends';

.card {
  &_title {
    margin-bottom: calc($main-indent / 6);
    font-weight: 700;
    font-size: 1.25rem;
    color: $color-white;
    text-decoration: none;
    transition-property: color;

    @extend %transitionDetails;

    &:hover {
      color: $color-accent-hover;
    }
  }

  &_numberOfModels {
    margin-bottom: calc(main-indent / 1.5);
    font-weight: 600;
    font-size: 0.85rem;
    color: $color-secondary;

    @include bp-custom-up(640px) {
      margin-bottom: 0;
    }
  }

  &_link {
    margin-bottom: $main-indent;
  }

  &_img {
    max-width: 100%;
    transition-property: transform;

    @extend %transitionDetails;

    &:hover {
      transform: scale(1.05);
    }
  }
}
