@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.card {
  &_title {
    margin-bottom: 4px;

    @extend %font20;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;

    transition-property: color;
    @extend %transitionDetails;

    &:hover {
      color: $color-accent-hover;
    }
  }

  &_numberOfModels {
    margin-bottom: $medium-indent;

    @extend %font14;
    font-weight: 600;
    color: $color-secondary;

    @include bp-custom-up($bp-640) {
      margin-bottom: 0;
    }
  }

  &_link {
    margin-bottom: $main-indent;
    overflow: hidden;
  }

  &_img {
    display: block;
    max-width: 100%;

    transition-property: transform;
    @extend %transitionDetails;

    @include bp-medium-up {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
