@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.slider_nav_button {
  display: none;
  border: none;
  
  position: absolute;
  @extend %transitionDeatils;

  height: 100%;
  opacity: 0.3;
  
  z-index: 2;

  @include bp-custom-up(639px) {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    width: 10%;

    background-color: $color-surface-2;

    transition: background-color 0.3s linear;

    &:hover {
      background-color: $color-icons;
      cursor: pointer;
    }
  }
}

.slider_nav_next_button_icon {
  @include square(0.8rem);

  background-image: url('@assets/icons/forward-arrow.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slider_nav_prev_button_icon {
  @include square(0.8rem);

  background-image: url('@assets/icons/back-arrow.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slider_nav_next_button {
  right: 0;
  top: 0;
  transition: all 0.5s;
  background-color: rgba(15, 17, 33, 0);
  
  opacity: 0.5;

  &:hover {
    background-color: rgba(15, 17, 33, 0.4);
    opacity: 1;
  }
}

.slider_nav_prev_button {
  top: 0;
  left: 0;
  transition: all 0.5s;
  background-color: rgba(15, 17, 33, 0);

  opacity: 0.5;

  &:hover {
    background-color: rgba(15, 17, 33, 0.4);
    opacity: 1;
  }
}