@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.card_slider {
  @extend %homeIndentsSet;

  &_header {
    @extend %flexBetween;
    align-items: center;
    margin-bottom: $main-indent;
    max-width: 100%;

    @include bp-medium-up {
      margin-bottom: 1.75rem;
    }
  }

  &_title {
    @extend %font22;
    font-weight: 800;

    @include bp-medium-up {
      font-size: 2rem;
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr;

    :global(.swiper-slide) {
      max-width: min-content !important;
    }

    :global(.swiper) {
      max-width: 100% !important;
    }
  }
}
