@import '@styles/mixins';
@import '@styles/variables';
@import '@styles/breakpoints';

.card_slider_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;
  margin-bottom: 24px;

  @include bp-medium-up {
    margin-bottom: 28px;
  }
}

.card_slider_title {
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  @include bp-medium-up {
    font-size: 32px;
  }
}

.card_slider_wrapper {
  display: grid;
  grid-template-columns: 1fr;

  :global(.swiper-slide) {
    max-width: min-content !important;
  }

  :global(.swiper) {
    max-width: 100% !important;
  }
}