@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.card_slider {
  @extend %homeIndentsSet;

  &_header {
    @extend %flexBetween;
    align-items: center;
    margin-bottom: $main-indent;
    max-width: 100%;

    @include bp-medium-up {
      margin-bottom: 1.75rem;
    }
  }

  &_title {
    @extend %font22;
    font-weight: 800;

    @include bp-medium-up {
      font-size: 2rem;
    }
  }

  &_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    
    :global(.swiper-slide) {
      max-width: min-content !important;
    }

    :global(.swiper) {
      max-width: 100% !important;
    }

    
  }
}

.fade {
  z-index: 2;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(15,17,33,1) 100%);
  opacity: 1;

  @include bp-x-large-up {
    opacity: 0;
  }
}