@import '@styles/breakpoints';

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include bp-medium-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:self-end;
  }
}