@import '@styles/variables';
@import '@styles/extends';

.back_button {
  display: flex;
  width: 5rem;
  margin-bottom: $medium-indent;
  padding: 0;
  gap: 0.6rem;

  @extend %font12;
  font-weight: 700;
  color: $color-white;

  background-color: transparent;
  transition-property: color;
  @extend %transitionDetails;

  &:hover {
    color: $color-accent-hover;
  }

  &_icon {
    @extend %iconsBaseSet;

    background-image: url('@/assets/icons/arrow-left.svg');
  }
}