@import '@styles/reset';
@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.cart_page {
  flex-direction: column;

  &_title {
    @extend %font32;
    font-weight: 700;
    margin-bottom: $secondary-indent;

    @include bp-small-up {
      font-weight: 800;
      font-size: 3rem;
    }
  }

  &_items {
    width: 100%;
    margin-bottom: calc($secondary-indent * 2);
  }

  &_container {
    @include bp-x-large-up {
      display: flex;
      flex-direction: row;
      gap: $secondary-indent;
    }
  }
}

.cart_empty {
  @extend %flexCenter;
  flex-direction: column;
  height: 90%;

  &_title {
    font-weight: 700;
    margin-bottom: 1.9rem;

    animation: bubbling 0.5s;

    @include bp-custom-up(480px) {
      font-size: 1.4rem;
    }

    @include bp-custom-up($bp-640) {
      font-size: 1.6rem;
    }
  }

  &_image {
    margin-bottom: 2.5rem;
    width: 15.6rem;

    animation: bubbling 0.7s;

    @include bp-custom-up(480px) {
      width: 18.75rem;
    }

    @include bp-custom-up($bp-640) {
      width: 21.9rem;
    }
  }

  &_button {
    @extend %flexCenter;
    margin-bottom: 3rem;
    padding: 9.5px 0;
    width: 12.5rem;
    
    @extend %font14;
    font-family: inherit;
    font-weight: 600;
    color: $color-white;
    text-decoration: none;

    background-color: $color-accent;
    animation: bubbling 1s;
    @extend %transitionDetails;

    &:hover {
      background-color: $color-accent-hover;
    }
  }
}
