@import '@styles/variables';
@import '@styles/extends';

.product_card_button_cart {
  @extend %flexCenter;
  flex-grow: 1;

  padding: 9.5px 0;

  color: $color-white;
  font-size: 0.9rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  
  background-color: $color-accent;

  @extend %transitionDetails;

  &:hover {
    background-color: $color-accent-hover;
  }
}

.product_card_button_clicked {
  background-color: $color-surface-2;

  &:hover {
    background-color: $color-icons;
  }
}