@import '@styles/variables';
@import '@styles/extends';

.product_card_button_cart {
  @extend %flexCenter;
  flex-grow: 1;
  padding: 0.6rem 0;

  @extend %font14;
  font-family: inherit;
  font-weight: 600;
  color: $color-white;
  text-decoration: none;
  
  background-color: $color-accent;
  transition-property: background-color;
  @extend %transitionDetails;

  &:hover {
    background-color: $color-accent-hover;
  }
}

.product_card_button_clicked {
  background-color: $color-surface-2;

  &:hover {
    background-color: $color-icons;
  }
}
