@import '@styles/variables';
@import '@styles/extends';

.button {
  @extend %flexCenter;

  width: 6.25rem;
  padding: 0.2rem 0;

  font-family: inherit;
  @extend %font14;
  font-weight: 600;
  color: $color-white;
  text-decoration: none;

  background-color: $color-accent;

  @extend %transitionDetails;

  @include bp-large-up {
    padding: 0.4rem 0;
    font-size: 0.9rem;
  }

  &:hover {
    background-color: $color-accent-hover;
  }
}