@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

:global(.pageWithMenuOpen) {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;

  background-color: $color-dark;
  border-bottom: 1px solid $color-elements;

  &_logo {
    padding: 0.9rem $medium-indent 0.75rem;
  }

  &_container {
    @extend %flexBetween;
    align-items: center;
    height: 2 * $main-indent;

    @include bp-large-up {
      height: 2 * $secondary-indent;
    }
  }

  &_menu {
    width: 100%;

    &_mobile {
      display: flex;
      justify-content: end;
      align-items: center;

      @include bp-medium-up {
        display: none;
      }

      &_icon {
        height: 0.5rem;
        width: 0.9rem;
        fill: $color-white;
      }

      &_link {
        @extend %flexCenter;
        @include square(2 * $main-indent);

        border: 1px solid $color-elements;
        cursor: pointer;
      }
    }

    &_desktop {
      display: none;

      @include bp-medium-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      &_left {
        @extend %flexBetween;
        align-items: center;
        padding-right: 1rem;
        width: 100%;
      }

      &_list {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: $medium-indent;
        gap: $secondary-indent;

        list-style: none;

        @include bp-large-up {
          margin-left: $main-indent;
          gap: 2 * $secondary-indent;
        }
      }

      &_item {
        position: relative;
        cursor: pointer;
      }

      &_link {
        padding: $medium-indent 0;
        font-weight: 700;
        color: $color-secondary;
        line-height: 3rem;
        text-decoration: none;

        &_active {
          color: $color-white;

          &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 2px;

            background-color: $color-white;

            @include bp-large-up {
              bottom: -9px;
            }
          }
        }

        &:hover {
          color: $color-white;

          &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 2px;
            
            background-color: $color-white;

            @include bp-large-up {
              bottom: -9px;
            }
          }
        }
      }

      &_right {
        @extend %flexBetween;
        align-items: center;
      }
    }
  }

  &_burgerMenu_button {
    @extend %flexCenter;
    @include square(2 * $main-indent);

    background: none;
    border-left: 1px solid $color-elements;

    &:hover {
      background-color: $color-icons;
    }
  }
}
