@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';
@import '@styles/mixins';

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: calc($secondary-indent / 2);
  padding: $secondary-indent;
  gap: $main-indent;
  align-items: center;
  background-color: $color-surface-1;
  height: 160px;

  @include bp-custom-up(640px) {
    flex-direction: row;
    padding: $main-indent;
    height: 128px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.delete_button_link {
  @extend %flexCenter;

  padding: 5px;
  margin-right: 10px;

  @extend %transitionDetails;

  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }
}

.phone_image {
  height: 66px;
}

.phone_container {
  @extend %flexCenter;
  height: 66px;
  min-width: 66px;
  margin-right: 23px;
}

.content {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 21px;
  color: $color-white;
  width: 100%;

  @include bp-custom-up(640px) {
    padding-right: 34px;
  }

  @include bp-x-large-up {
    padding-right: 34px;
  }
}

.quantity_and_price {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include bp-custom-up(640px) {
    width: 200px;
  }
}

.quantity_buttons {
  @extend %flexCenter;

  @include bp-custom-up(640px) {
    margin-right: 33px;
  }

  &_minus {
    background-color: transparent;
    display: flex;
  }

  &_plus {
    background-color: transparent;
    display: flex;
  }

  &_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
  }
}

.minus {
  @extend %flexCenter;
  background-color: $color-elements;

  border: 1px solid $color-elements;

  @include square(32px);

  @extend %transitionDetails;

  &:hover {
    background-color: $color-icons;
  }

  &_disabled {
    background-color: $color-surface-1;

    &:hover {
      cursor: not-allowed;
      background-color: $color-surface-1;
    }
  }
}

.plus {
  @extend %flexCenter;

  margin-right: 13px;
  background-color: $color-elements;
  @include square(32px);

  @extend %transitionDetails;

  &:hover {
    background-color: $color-icons;
  }
}

.phone_price {
  font-weight: 800;
  font-size: 1.375rem;
  line-height: 140%;
  color: $color-white;
}
