@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.cart {
  @extend %flexColumn;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  margin-bottom: $main-indent;
  padding: $secondary-indent;
  gap: $main-indent;
  
  @extend %cardHover;
 
  @include bp-custom-up($bp-640) {
    flex-direction: row;
    height: 8rem;
    padding: $main-indent;
  }

  &_info {
    @extend %flexBetween;
    align-items: center;
    width: 100%;
  }
}

.delete_button_link {
  @extend %flexCenter;
  padding: 5px;
  margin-right: 0.6rem;

  transition-property: transform;
  @extend %transitionDetails;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }
}

.phone_image {
  height: 4.1rem;
}

.phone_container {
  @extend %flexCenter;
  height: 4.1rem;
  min-width: 4.2rem;
  margin-right: 1.5rem;
}

.content {
  width: 100%;

  @extend %font14;
  font-weight: 400;
  color: $color-white;

  @include bp-custom-up($bp-640) {
    padding-right: 2.1rem;
  }
}

.quantity_and_price {
  @extend %flexBetween;
  width: 100%;

  @include bp-custom-up($bp-640) {
    width: 19rem;
  }
}

.quantity_buttons {
  @extend %flexCenter;

  &_minus {
    display: flex;
    background-color: transparent;
  }

  &_plus {
    display: flex;
    background-color: transparent;
  }

  &_number {
    @extend %flexCenter;
    width: 2.8rem;
  }
}

.minus {
  @extend %flexCenter;
  @include square($secondary-indent);

  background-color: $color-elements;
  border: 1px solid $color-elements;
  transition-property: background-color;
  @extend %transitionDetails;

  &:hover {
    background-color: $color-icons;
  }
}

.plus {
  @extend %flexCenter;
  @include square($secondary-indent);

  background-color: $color-elements;
  border: 1px solid $color-elements;
  transition-property: background-color;
  @extend %transitionDetails;

  &:hover {
    background-color: $color-icons;
  }
}

.button_disabled {
  background-color: $color-surface-1;
  pointer-events: none;
}

.phone_price {
  @extend %font22;
  font-weight: 800;
  color: $color-white;
}
