@import '@styles/breakpoints';
@import '@styles/extends';

.pagination {
  display: grid;
  gap: $small-indent;
  grid-template-columns: repeat(5, 1fr);

  @include bp-custom-up(939px) {
    display: flex;
    flex-direction: column;
    flex-basis: 16%;
    flex-shrink: 1;
  }

  @include bp-large-up {
    gap: $medium-indent;
  }
}