@import '@/styles/_variables.scss';
@import '@styles/typography';
@import '@styles/reset';
@import '@styles/breakpoints';

.BurgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 400ms;

  background-color: $color-dark;

  &__opened {
    transform: translateX(0%);
    transition: transform 400ms;
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    border-bottom: 1px solid $color-elements;
  }

  &__closeButton {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    border-left: 1px solid $color-elements;

    &:hover {
      background-color: $color-icons;
    }
  }

  &__navlist {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
  }

  &__navlink {
    display: block;
    font-weight: 800;
    font-size: 12px;
    line-height: 92%;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-secondary;
    margin-bottom: 48px;

    &:hover {
      color: $color-white;
      border-bottom: 2px solid $color-white;
    }
  }

  &__footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
  }

  @include bp-custom-up($bp-640) {
    display: none;
  }
}
