@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.BurgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: -moz-available; ;
  max-height: 100vh;

  transform: translateX(100%);
  transition: transform 400ms;

  background-color: $color-dark;

  &__opened {
    transform: translateX(0%);
    transition: transform 400ms;
    overflow: hidden;
    overflow-y: auto;
  }

  &__header {
    @extend %flexBetween;
    align-items: center;
    margin-left: $medium-indent;
    border-bottom: 1px solid $color-elements;
  }

  &__closeButton {
    @extend %flexCenter;
    @include square(2 * $main-indent);

    background: none;
    border-left: 1px solid $color-elements;

    &:hover {
      background-color: $color-icons;
    }
  }

  &__main {
    @extend %flexColumn;
    align-items: center;
  }

  &__navlist {
    @extend %flexColumn;
    align-items: center;
    margin-top: 2 * $secondary-indent;
    list-style: none;
  }

  &__navlink {
    display: block;
    margin-bottom: 2 * $main-indent;
    border-bottom: 2px solid transparent;

    @extend %font12;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-secondary;
    
    &:hover {
      color: $color-white;
      border-bottom: 2px solid $color-white;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    @extend %flexBetween;
    width: 100%;
  }

  @include bp-custom-up($bp-640) {
    display: none;
  }
}
