@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.footer {
  width: 100%;
  padding: $secondary-indent 0;
  border-top: 1px solid $color-elements;

  @include bp-medium-up {
    padding: $secondary-indent 0;
  }

  &_container {
    @extend %flexColumn;
    width: 100%;

    @include bp-medium-up {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_logo {
    margin-bottom: $secondary-indent;

    @include bp-medium-up {
      margin-bottom: 0;
    }
  }

  &_links_list {
    @extend %flexColumn;
    margin-bottom: $secondary-indent;

    & > *:not(:last-child) {
      margin-bottom: $medium-indent;
    }

    @include bp-medium-up {
      flex-direction: row;
      margin-bottom: 0;

      & > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: 7vw;
      }
    }

    &_link {
      @extend %font12;
      font-weight: 800;
      color: $color-secondary;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $color-white;
      }
    }
  }

  &_nav {
    @extend %flexBetween;
    align-self: center;
    align-items: center;
    gap: $medium-indent;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover &_icon_container {
      background-color: $color-icons;
    }

    @include bp-medium-up {
      align-self: auto;
      gap: $secondary-indent;
    }

    &_text {
      @extend %font12;
      font-weight: 700;
      color: $color-secondary;
    }

    &_icon_container {
      @extend %flexCenter;
      @include square($secondary-indent);

      background-color: $color-surface-2;
    }
  }
}

.nav_link {
  align-self: center;

  @extend %font12;
  font-weight: 800;
  color: $color-secondary;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-white;
  }
}
