@import '../../styles/variables';

.like_button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;

  width: 40px;
  height: 40px;
  background-color: $color-surface-2;

  transition: all 0.3s;

  &:hover {
    background-color: $color-icons;
  }
}
