@import '@/styles/_variables.scss';
@import '@styles/mixins';
@import '@styles/extends';

.like_button {
  @extend %flexCenter;

  @include square(40px);

  background-color: $color-surface-2;

  transition: all 0.3s;

  &:hover {
    background-color: $color-icons;
  }

  &_pressed {
    border: 1px solid $color-icons;
    background-color: $color-surface-1;
  }
}
