@import '@styles/variables';
@import '@styles/extends';

.search {
  width: 100%;

  @include bp-large-up {
    max-width: 100%;
  }
}

.search_title {
  margin-bottom: 4px;

  @extend %font12;
  font-weight: 700;
  color: $color-secondary;
}

.search_field_wrapper {
  display: grid;
  grid-template-columns: 1fr 40px;

  background-color: $color-surface-2;
  border: 1px solid $color-surface-2;

  transition-property: border-color;
  @extend %transitionDetails;

  &:hover {
    border-color: $color-icons;
  }
}

.search_field {
  width: 100%;
  padding: 0.6rem 0 0.6rem 0.75rem;

  font-family: inherit;
  @extend %font14;
  font-weight: 700;
  color: $color-white;

  background-color: $color-surface-2;
  outline: none;
  border: none;
}

.search_field_icon_container {
  background-image: url('../../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: $medium-indent;
}