@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/extends';

.dropdown_button {
  @extend %flexBetween;
  align-items: center;
  width: 100%;
  padding: 0.6rem 0.75rem;

  font-family: inherit;

  background-color: $color-surface-2;
  border: 1px solid $color-surface-2;
  transition-property: border-color;
  @extend %transitionDetails;

  &:hover {
    border-color: $color-icons;
  }
}

.dropdown_button_focused {
  border-color: $color-accent;

  .dropdown_icon {
    background-image: url('@assets/icons/dropdown-arrow-up.svg');
  }
}

.dropdown_value {
  @extend %font14;
  font-weight: 700;
  color: $color-white;
}

.dropdown_icon {
  @include square(0.6rem);

  background-image: url('@assets/icons/dropdown-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}