@import '@/styles/variables.scss';

.slider_pagination_bullet {
  width: 14px;
  height: 4px;

  background-color: $color-elements;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.slider_pagination_bullet_active {
  background-color: $color-white;
}
