@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';
@import '@styles/mixins';

.card {
  display: flex;
  align-items: center;
  flex-grow: 2;
  flex-basis: 360px;
  background-color: $color-surface-1;
  
  position: relative;

  @extend %transitionDetails;
  animation: bubbling 0.7s;
  -webkit-animation: bubbling 0.7s;

  border: 1px solid transparent;

  &_content {
    @extend %flexCenter;
    padding: $medium-indent;
  }

  &:hover {
    border: 1px solid $color-secondary;
    background: $color-dark;
  }

  &:hover .photo {
    filter: brightness(0.9);
  }
}

.role {
  position: absolute;
  right: $medium-indent;
  bottom: $medium-indent;
  color: $color-accent;
}

.link img {
  @extend %transitionDetails;
  border-radius: 50%;

  &:hover {
    background: $color-accent;
  }
}

.link:not(:last-child) {
  margin-right: 8px;
}

.name {
  font-weight: 600;
  letter-spacing: 3.5%;
  font-size: 1.4rem;
  margin-bottom: $medium-indent;
}

.photo {
  @include square(95px);
  border-radius: 50%;
  margin-right: $medium-indent;

  @extend %transitionDetails;

  filter: brightness(0.8);
}