@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/mixins';
@import '@styles/extends';

.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 2;
  flex-basis: 22.5rem;
  overflow: hidden;

  @extend %cardHover;
  @extend %transitionDetails;
  animation: bubbling 0.7s;
  -webkit-animation: bubbling 0.7s;

  &_content {
    @extend %flexCenter;
    padding: $medium-indent;
  }

  &:hover .photo {
    filter: brightness(0.9);
  }
}

.role {
  position: absolute;
  right: $medium-indent;
  bottom: 1.5rem;

  color: $color-accent;
  pointer-events: none;
  writing-mode: vertical-rl;

  @include bp-custom-up(400px) {
    bottom: $medium-indent;
    text-orientation: sideways;
    writing-mode: horizontal-tb;
  }
}

.link img {
  @extend %transitionDetails;
  border-radius: 50%;

  &:hover {
    background: $color-accent;
  }
}

.link:not(:last-child) {
  margin-right: $small-indent;
}

.name {
  margin-bottom: $medium-indent;
  @extend %font22;
  font-weight: 600;
}

.photo {
  margin-right: $medium-indent;
  @include square(6rem);
  border-radius: 50%;

  @extend %transitionDetails;
  filter: brightness(0.8);
}

.mail {
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -220%;
  left: 120%;
  z-index: 2;
  @extend %flexCenter;
  padding: 0.6rem;
  width: max-content;
  
  color: $color-white;
  
  border-radius: 0.6rem;
  border: 1px solid $color-white;
  background-color: $color-surface-1;
  opacity: 1;
  animation: bubbling 0.3s;
  @extend %transitionDetails;
  pointer-events: none;
}

.hide {
  opacity: 0;
}
