@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: $main-indent 0;
  gap: 0.9rem;

  @include bp-medium-up {
    margin: $main-indent 0 1.6 * $main-indent;
  }

  &_link {
    @extend %font12;
    font-weight: 700;
    color: $color-white;

    transition-property: color;
    @extend %transitionDetails;

    &:hover {
      color: $color-accent-hover;
    }

    &:last-child {
      color: $color-secondary;
      pointer-events: none;
    }
  }

  &_home_icon {
    @extend %iconsBaseSet;

    background-image: url('@assets/icons/icon-home.svg');
  }

  &_arrow_icon {
    @extend %iconsBaseSet;

    background-image: url('@assets/icons/arrow-right.svg');
  }
}
