@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.homepage {
  max-width: 100%;

  &_title {
    padding: $main-indent 0;

    @extend %font32;
    font-weight: 800;

    @include bp-custom-up($bp-640) {
      font-size: 3rem;
      padding: $secondary-indent 0;
    }

    @include bp-x-large-up {
      padding: 1.75 * $secondary-indent 0;
    }
  }
}
