@import '@/styles/variables';
@import '@/styles/breakpoints';

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_content {
  width: 100%;
  margin-bottom: 18px;

  @include bp-small-up {
    display: flex;
    gap: 16px;
  }
}

.swiper_wrapper {
  width: 100%;

  @include bp-small-up {
    width: calc(100% - 96px);
  }
}