@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';

.slider {
  @extend %flexColumn;
  @extend %homeIndentsSet;
  align-items: center;
}

.slider_content {
  width: 100%;
  margin-bottom: 1.1rem;
  overflow: hidden;

  position: relative;

  @include bp-custom-up(639px) {
    display: flex;
    gap: $medium-indent;
  }
}

.swiper_wrapper {
  width: 100%;

  :global(.swiper-slide) {
    width: 100% !important;

    @include bp-custom-up(639px) {
      width: 100% !important;
    }
  }

  @include bp-custom-up(639px) {
    width: calc(100%);
  }
}
