@import '@styles/variables';
@import '@styles/breakpoints';
@import '@styles/extends';
@import '@styles/mixins';

.notfound_page {
  @extend %flexCenter;
  height: 90%;
  flex-direction: column;
  overflow: hidden;
}

.images_container {
  @extend %flexCenter;
  height: 18.75rem;

  animation: bubbling 1s;
}

.images {
  position: relative;
  margin: 3.2rem 0;

  transform: scale(0.4);
  @include bp-custom-up(400px) {
    transform: scale(0.5);
  }

  @include bp-custom-up($bp-640) {
    transform: scale(0.6);
  }

  @include bp-x-large-up {
    transform: scale(0.7);
  }
}

.image_first {
  position: absolute;
  left: -400px;
  top: -250px;
  z-index: 1;

  filter: drop-shadow(1px 1px 20px black);
  animation: waving 3s infinite;

  @include bp-x-large-up {
    top: -220px;
  }
}

.image_second {
  position: absolute;
  left: -400px;
  top: -250px;

  animation: waving 3s 0.6s infinite;

  @include bp-x-large-up {
    top: -220px;
  }
}

.image_third {
  position: absolute;
  left: -400px;
  top: -250px;

  filter: drop-shadow(1px 1px 20px black);
  animation: waving 3s 1s infinite;

  @include bp-x-large-up {
    top: -220px;
  }
}

.title {
  margin-bottom: 2rem;
  margin-top: 4rem;

  font-weight: 700;

  animation: bubbling 0.5s;

  @include bp-custom-up(480px) {
    font-size: 1.2rem;
  }

  @include bp-custom-up($bp-640) {
    font-size: 1.5rem;
  }

  @include bp-x-large-up {
    font-size: 2rem;
  }
}

@keyframes waving {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-6%);
  }

  100% {
    transform: translateY(0%);
  }
}

.home_button {
  @extend %flexCenter;
  margin-bottom: 1.9rem;
  padding: 9.5px 0;
  width: 12.5rem;
  
  @extend %font14;
  font-family: inherit;
  font-weight: 600;
  color: $color-white;
  text-decoration: none;
  
  background-color: $color-accent;
  animation: bubbling 1.5s;
  @extend %transitionDetails;

  @include bp-x-large-up {
    margin-top: 2rem;
  }

  &:hover {
    background-color: $color-accent-hover;
  }
}